* {
  /* BOX MODEL */
  margin: 0;
  padding: 0;
  /* TYPOGRAPHY */
  font-size: 1.5rem;
  color: #000;
  /* OTHER */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
  /* BOX MODEL */
  width: 25px;
}

*::-webkit-scrollbar-track {
  /* BOX MODEL */
  border-radius: 20px;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar-thumb {
  /* BOX MODEL */
  border-radius: 20px;
  /* BACKGROUND */
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  /* BOX MODEL */
  width: 90vw;
  height: 100vh;
  /* LAYOUT */
  display: flex;
  /* TYPOGRAPHY */
  font-family: sans-serif;
  /* BACKGROUND */
  background: url("./images/Hexagons.png") top center / cover;
}

#root {
  width: 100vw;
}

.header {
  /* BOX MODEL */
  margin: 1vw;
  border: solid 2px transparent;
  width: 93vw;
  height: 7vh;
  padding: 0 2vw;
  /* LAYOUT */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.header__icon {
  /* BOX MODEL */
  width: 5vh;
  height: 5vh;
  /* BACKGROUND */
  background: url("../src/icons/spotify-logo-5434.svg") top center / cover;
  border-radius: 100%;
}

.header__search-bar {
  /* LAYOUT */
  display: flex;
  align-items: center;
}

.header__input {
  /* BOX MODEL */
  width: 30vw;
  height: 4vh;
  /* TYPOGRAPHY */
  font-size: .65rem;
}

.header__button {
  /* BOX MODEL */
  min-width: 5vw;
  height: 4.4vh;
  /* TYPOGRAPHY */
  font-size: .6rem;
}

.header__dropdown {
  /* BOX MODEL */
  margin-left: 1vw;
  min-width: 4vw;
  max-width: 20vw;
  height: 4.4vh;
  /* TYPOGRAPHY */
  font-size: .6rem;
}

.header__option {
  /* TYPOGRAPHY */
  font-size: .6rem;
}

.header__login {
  /* TYPOGRAPHY */
  color: #fff;
}

.header__logout {
  /* BOX MODEL */
  min-width: 6vw;
  height: 4.4vh;
  /* TYPOGRAPHY */
  font-size: .8rem;
}

.list {
  height: 70vh;
  overflow: auto;
}

.list__item * {
  /* TYPOGRAPHY */
  font-size: .6rem;
  color: #fff;
}

.list__item {
  /* BOX MODEL */
  margin: 1vh;
  width: 88vw;
  height: 11vh;
  /* LAYOUT */
  display: flex;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  /* OTHER */
  cursor: pointer;
}

.list__image {
  /* BOX MODEL */
  margin: 1vh;
  height: 8vh;
  width: 8vh;
  /* LAYOUT */
  justify-content: center;
  align-items: center;
  /* TYPOGRAPHY */
  text-align: center;
  text-justify: center;
  /* BACKGROUND */
  object-fit: cover;
}

.list__info {
  /* BOX MODEL */
  margin: 1vh;
}

.list__name {
  /* TYPOGRAPHY */
  font-size: 1rem;
  text-decoration: underline;
}

.list__artists,
.list__album,
.list__duration,
.list__genre,
.list__episodes,
.list__tracks,
.list__owner {
  /* BOX MODEL */
  margin: 1vh 0;
  /* TYPOGRAPHY */
  font-size: .6rem;
}

.list__page {
  /* BOX MODEL */
  height: 2vh;
}

.player {
  /* POSITION */
  position: relative;
  /* BOX MODEL */
  margin: 2vw 2vw;
  width: 97vw;
  height: 14vh;
}

.PlayerRSWP {
  /* BOX MODEL */
  width: 100vw;
}

._InfoRSWP * {
  /* TYPOGRAPHY */
  font-size: .7rem;
}

@media (min-width: 600px) {
  .list__item {
    /* BOX MODEL */
    width: 93vw;
  }

}

@media (min-width: 1000px) {
  .player {
    /* BOX MODEL */
    width: 95vw;
  }

  .PlayerRSWP {
    /* BOX MODEL */
    height: 15vh;
  }

  ._ContentRSWP {
    /* POSITION */
    position: relative;
    top: 4vh;
  }

  .list__item {
    /* BOX MODEL */
    width: 96vw;
  }
}